@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-image: url(images/pattern-curve.svg),url(images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: left bottom, 80% 40%;
}

.container {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    position: relative;
    margin:  100px 0;
}

/* .container{
    border: 2px solid red;
}

.text,.image {
    border: 2px solid blue;
} */


.text {
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    z-index: 1;
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 20% 15%;
    background-size: 90px;
}
.name-job{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#name {
    color: hsl(240, 38%, 20%);
    font-weight: bold;
    font-size: 28px;
}

#job {
    font-size: 28px;
    color: hsl(240, 18%, 77%);
    font-weight: 300;


}
.image {
    width: 40%;
    height: inherit;
    position: absolute;
    left: 45%;
}

#image-1 {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#quote {
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
}

button{
    border: none;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.button-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    position: absolute;
    top: 95%;
    right: 70%;
    box-shadow: 0px 10px 5px 0px gray;
}

i {
    color: #8585AC;
    background-color: #fff;
    font-size: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}


.attribution a { 
    color: hsl(240, 38%, 20%);
    font-size: 15px; 
}

@media only screen and (max-width:1024px){
    html,body,main,footer,.container{
        width: 100%;
    }
    .container{
        background-image: url(images/pattern-bg.svg);
        background-repeat: no-repeat;
        background-position: 100% 40%;
        background-size: 600px;
    }

    .image,.text{
        width: 50%;
        height: 70%;
    }

    #quote {
        font-size: 28px;
        line-height: 35px;
    }
    body {
        background-image: url(images/pattern-curve.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
    }


}


@media only screen and (max-width:600px){
    html,body,main,footer,.container{
        width: 100%;
    }

    body {
        background-image: url(images/pattern-curve.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    .container{
        flex-direction: column-reverse;
        gap: 70px;
        height: auto;
        background-image: none;
    }

    .text,.image{
        width: 100%;
    }

    .text{
        gap: 10px;
        background-position: 40% 1%;
        background-size: 100px;
    }

    .name-job{
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    #name,#job {
        font-size: 18px;
    }

    .image {
        position: unset;
        left: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        min-height: 50vh;
        background-image: url(images/pattern-bg.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    

    .button-container {

        position: absolute;
        top: 45%;
        right: 50%;

    }

    #quote {
        font-size: 22px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
    }
}